/* @type */

.button {
  color: #07061F;
  background-color: #E7E7E7;
  border-radius: 0.8rem;
  display: inline-block;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem 1.6rem;
  transition: 0.1s ease-out opacity;
}

.button:hover {
  opacity: 0.85;
}

.button:active {
  position: relative;
  top: 0.2rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
}

.buttonPrimary {
  color: #FFF;
  background-color: #6B5430;
}

.buttonPrimaryText,
.buttonPrimaryText:active {
  color: #6C5531;

  /* medium contrast */
  /* color: #0857b1; */
  /* high contrast */
  background-color: rgba(0, 0, 0, 0);
  height: auto;
  line-height: 2rem;
  box-shadow: none;
  padding: 0.4rem;
}

.buttonSecondary {
  color: #FFF;
  background-color: #6B5430;
}

.buttonDanger {
  color: #FFF;
  background-color: #B22828;
}

.buttonDangerText,
.buttonDangerText:active {
  color: #B22828;
  background-color: rgba(0, 0, 0, 0);
  height: auto;
  line-height: 2rem;
  box-shadow: none;
  padding: 0.4rem;
}

.buttonSuccess {
  color: #FFF;
  background-color: #417505;
}

.buttonSmall {
  padding: 0.8rem 1.6rem;
}

.buttonTextSmall {
  font-size: 1.3rem;
}

.buttonIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 1.6rem;
  height: 1.6rem;
}

.buttonIcon .icon {
  flex-shrink: 0;
  margin-right: 0.4rem;
}

.buttonRow {
  margin-top: 0.8rem;
}

.buttonField {
  margin-top: 0.4rem;
}

@media screen and (min-width: 768px) {
  .buttonField {
    margin-top: auto;
  }

  .buttonCarouselLeft,
  .buttonCarouselRight {
    padding: 2.4rem 0.4rem;
  }
}

.buttonAddToCart,
.buttonAddToCart:active {
  padding: 0.4rem 0;
}

.angle {
  margin: 0 0.4rem;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active {
  color: #9B9B9B;
  cursor: not-allowed;
  box-shadow: none;
  opacity: 1;
  top: 0;
}

.buttonPrimary:disabled,
.buttonPrimary:disabled:hover,
.buttonPrimary:disabled:active,
.buttonSecondary:disabled,
.buttonSecondary:disabled:hover,
.buttonSecondary:disabled:active,
.buttonDanger:disabled,
.buttonDanger:disabled:hover,
.buttonDanger:disabled:active,
.buttonSuccess:disabled,
.buttonSuccess:disabled:hover,
.buttonSuccess:disabled:active {
  color: #D8D8D8;
  background-color: #9B9B9B;
}

.buttonSignNav {
  color: #FFF;
  background-color: #07061F;
  width: 50%;
}

.buttonSignNav:active {
  top: 0;
}

.buttonSignNav:first-child {
  border-radius: 0.8rem 0 0 0;
}

.buttonSignNav:last-child {
  border-radius: 0 0.8rem 0 0;
}

.buttonSignNavActive {
  background-color: #6B5430;
}
